<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeType fileExtension=".wav" mimeType="audio/wav" />
      <mimeType fileExtension=".txt" mimeType="text/plain" />
    </staticContent>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".wav" allowed="true" />
          <add fileExtension=".txt" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="2147483647" />
  </system.web>
  
  <appSettings>
    <add key="TextFilePath" value="~/App_Data/sample.txt" />
    <add key="AudioFilePath" value="~/App_Data/sample.wav" />
  </appSettings>
</configuration>